/***************************************** In General (Loai) *************************************************/
:root{
    --main--color : #FF7900;
}
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: #f4f7f6;
}
.main-container{
    width: 70%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

.pr-2 {
    padding-right:65px !important;
}

.pr-5 {
    padding-right: 190px !important;
}

.wrapper {
    padding-top: 120px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--main--color);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 149, 13, 0.322);
}

.form-select:focus {
    border-color: var(--main--color);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 149, 13, 0.322);
}
/**************************************** Profile Page (Loai) ******************************************/
.box-profile-information {
    background-color: #fff;
    border-bottom: 2px solid var(--main--color);
}

.box-profile-information .image-back {
    width: 100%;
    height: 20%;
}

.box-profile-information .image-back img {
    width: 100%;
    height: 155px;
}

.box-profile-information .contant .profile-image {
    width: 141px;
    height: 142px;
    margin: 0 auto;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    position: relative;
    bottom: 80px;
}

.box-profile-information .contant .profile-image img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin-top: 6px;
}

.box-profile-information .name-user {
    font-size: 29px;
    text-transform: capitalize;
}

.box-profile-information .contant .status {
    color: green;
    padding-left: 8px;
    padding-right: 8px;
}

.box-profile-information .contant .edit {
    background-color: #ccc;
    border-radius: 25px;
    padding: 5px 13px;
    font-size: 13px;
    color: #000;
}

.box-profile-information .contant .sochal-media a {
    color: #333;
    font-size: 18px;
}

.box-profile-information .contant a:hover .fa-linkedin-in {
    color: #2867B2;
    transition: .5s ease-in-out;
}

.box-profile-information .contant a:hover .fa-github {
    color: #212529;
    transition: .5s ease-in-out;
}

.box-about-my, .box-profile-post {
    background-color: #fff;
    padding: 10px;
    border-bottom: 2px solid var(--main--color);
}

.box-profile-information .general-information i {
    padding-right: 5px;
}


@media (max-width: 767px) {
    .main-container{
        width: 80%;
    }
    .box-information-responce{
        padding-left: 30px;
        padding-right: 30px;
    }

    .box-profile-information .contant .sochal-media {
        margin-top: 12px;
    }

    .box-profile-information .contant .sochal-media a.px-3 {
        padding-left: 0 !important;
    }
}

@media (max-width: 500px) {
    .main-container{
        width: 100%;
    }
    .box-profile-information .contant{
        margin-right: 1px;
    }
    .box-profile-information .contant .edit {
        display: block;
        text-align: center;
        font-size: 17px;
        margin-top: 12px;
    }
    .box-information-responce{
        padding-left: 25px;
        padding-right: 25px;
    }
    .box-profile-information .contant .name-user{
        font-size: 24px;
    }
    .responcive-row {
        margin-right: 1px;
    }
}

/*************************************************Login(Zaid)*****************************************************************/

/*  the text on the left the side login page.*/
.write >h3{
    /* font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    font-size: 30px;
    font-weight: 200;
    margin-top: 130px;
    margin-bottom: 20px;
    color: #FF7900;
    font-family: monospace;

}
/*button in the login page */
#button{
    background-color: #FF7900;
    border-color: #FF7900;
}
/* img on login page */
.img{
    width: 80%;
}
/*Controls the right side of the nave page*/
.space{
    display: flex;
    justify-content: center;

}


/* #bar>#con{ 
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-around;
} */
/* style on the search*/
#search{
 display: flex;
 font-family: emoji;
 margin-top: 15px;
}
/* button in search*/
 #search2{
color: darkgoldenrod;
border-color: orange;
height: 44px;
width: 79px;
margin-top: 15px;
} 
/* hover button in search*/
#search2:hover{
    background-color:orange;
    color: white;
}
/* icon*/
#font{

    font-size: x-large;
    color: orange;


}
/* li item nav */
#list{

    margin-left: 10px;
    margin-right: 20px;
}
/* text on the nav  */
span{
    padding-left: 6px;
}

/* navbar-nav-scroll */
#ul{
    display: contents;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
/*dropdown-menu in ul */
#drop{

    width: 200px;
    height: 180px;
    right:0;
    left: inherit;
    margin-top: 0.125rem;
}

#coll-5{
    padding-left: 146px;
}
#coll-7{
    display: flex;
    justify-content:center;
}

@media (min-width: 575.98px) and (max-width: 1199.98px) { 

    #drop{
        width: 400px;
    }
    #ul{
     
        width: 100%;

    }
    #bar>#con{
        display: contents;

    }

   

}

@media (max-width:575px) {
    #bar>#con{
        display: contents;
    }
    #drop{
        width:450px;
    }
    #coll-5{
        padding-left: 0;
    }
    #button{
        background-color: #FF7900;
        border-color: #FF7900;
        margin-bottom: 15px;
        margin-left: 190px;
    }
    #controll{
        margin-left: 7px;
    }
    .write >h3{
        margin-left: 7px;
    }

    
}
/*******************************************chat page style (Haneen)**************************************** */
/******* styling the card of the content *********/
.car {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
   
}
/* stlye of pepole list (old message) */
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;
    overflow-y: auto;
    height: 500px;
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea;
}


.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px;
    border-bottom: 2px solid #f4f7f6;
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer;
}



.people-list .chat-list li .name {
    font-size: 15px;
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%;
}

.people-list img {
    float: left;
    border-radius: 50%;
}

.people-list .about {
    float: left;
    padding-left: 8px;
}

.people-list .status {
    color: #999;
    font-size: 13px
}
/********end style of pepole list*******/




/* style to name of person how you talk with */
.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6;
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
}
/* style to space of chating */

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
}

.chat .chat-history ul {
    padding: 0;
    height: 300px;
    overflow-y: auto;
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 15px;
  
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px;
}


.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef;
    padding: 9px;
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right;
    margin-right : 20px;
    padding: 9px;
}

.chat .chat-history .other-message:after {
    
    left: 93%
}

.chat .chat-message {
    padding: 20px
}
.chat-message input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}


.float-right {
    float: right
}


@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none;
        overflow-y: hidden;

        
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0;
        margin-top: 40px;
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto;
        overflow-y: hidden;
       
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto;
        overflow-y: hidden;

    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto;
        overflow-y: hidden;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto;
        overflow-y:auto;
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto;
        overflow-y: hidden;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto;
        overflow-y: hidden;

    }
    .chat-header{
        width: 400px;
    }
    .chat-app .chat-history {
        height: 400px;
    
    overflow-y: hidden;
      

    }
}




/****************************************************Home Css (Rima)******************************************/
.person-col{
    height: 200px;
    width: 150px;
    margin: 5px;
    margin-bottom: 20px;
    background-color: white;
    justify-content: center;
    border-radius: 2%;
    border: 1px solid rgba(173, 172, 172, 0.39);

    
  
}

.post-col{
width:600px;
height: 200px;
margin: 5px;

}

.online-col{
    width: 100px;
    height:200px;
    max-height:100vh;
    padding: 5px;
    margin: 5px;
    border-radius: 1%;
}
.person-card-img{
    padding: 5px;
    padding-top: 10px;
    height: 100px;
    width: 100px;
    border-radius:50%
}
.online-card-img{
    padding: 5px;
    padding-top: 10px;
}
.user-type{
    font-size: 12px;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
.comment-user{
   font-size: 6px;
   padding: 5px;
   height: 70px;
   width: 70px;
}
.comment-title{
    font-size: 15px;
}
.comment-type{
    font-size:11px;
}

.title-col{
    margin-left: -35px;
    padding: -15px;
}
.comment-user2{
    font-size:4px;

}
.home-container{
    height: 85vh;
}
.hide{
    display: none; 
}
.Show{
    display: block;
}
.left-contect{
    justify-content: start;
}
.card-person{
    display: flex;
    justify-content: center;
    

}
.comment-link{
    margin: 22px;
    padding: 5px;

}


.p-likes{
    padding-left: 10px;
    display:inline-block;


}
.p-comment{
    padding-left: 10px;
    display:inline-block;
    padding-right: 10px;


}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.edit-dropdown{

    display:flex;
    justify-self:right;
    
}


@media only screen and (max-width: 1198px) {

    .card-person{
        height: 150px;
        width: 50%;
        justify-content: center;
        margin-bottom: 20px;
        padding: 5px;
        padding-top: 25px;
        display: -webkit-box;

    }
    .online-col{
        display: none; 

    }  
    .hide-small{
        display: none;
    }
    
}
@media only screen and (max-width: 985px) {
    .card-person{
        width: 300px;
   
    }

}

/***************************************table design (Haneen)*****************************************************/
table{
margin-top: 30px;

}
.card-bg{
    background-color: lightgray;
    border-radius: 9px;
    
    
}
.head-table th {
color: var(--main--color);
margin-top: 5px;
}
.action{
padding-left: 20px;
text-align: center;
}
.action button{
width: 63px;
padding-left: 10px;
margin-left: 1px;
}
/*****************************************Register page (haneen)************************************************/

.link-div{
margin-top: 40px;
}

.link-div{
border: 1px solid rgb(216, 214, 214);
height: 100px;
margin-bottom: 10px;
border-radius: 8px;
background-color: var(--main--color);
text-align: center;
padding-top: 25px;
font-size: 30px;
}

@media(max-width: 561px){


}


/*************************** Job Page (Rima) *******************************************/
.job-container{
display: flex;
justify-content: center;
}
.apply-btn{
    float: right;
    margin-bottom: 15px;
}
.icon-job{
    padding: 3px;
}
/*************************** Job Information page (Rima) ***********************************/

.jobinfo-container{
    display: flex;
    justify-content: center;
}


.job-box{
    border: 1px solid rgb(143, 142, 142) ;
    
}


.job-img-info{
    height: 300px;
    width: 300px;
}

.card-job-info{
    margin-bottom: 20px;
    max-width: 900px;
}

.card-text-pa{
    padding: 15px;
    white-space:pre-line;
}
.jobinfo-sub{
    padding-top: 45px;
    padding-left: 45px;
}

@media only screen and (max-width: 983px) {
 
    .card-img-info{
        display:none;
        display: flex;
        justify-content: center;
     } 

}
/* like css */
/* ruba and haneen  like style  */
.fa {
    font-size: 1.2em;
  }
  .fa-thumbs-down, .fa-thumbs-o-down {
    transform:rotateY(180deg);
  }
  .logged_in_user {
    padding: 10px 30px 0px;
  }

/****************************** Website Form Design *******************************/