
/****************************************************zaid(top and sid nav Admin)*********************************************************************/
/* continer top nav */
#top{

    display: contents;
}
/* class ul top */
.top-list{
    list-style: none;
    
}
/* ul in logout*/
#drop2{

    right:20px;
    left: inherit;
    width: 161px;
    height: 67px;
   
    margin-top: 0.125rem;
}
/* logo top nav*/
#logo{
    width: 200px;
    height: 70px;
    margin-left: 10px;
}
 
/* #top-style{
    margin-right: 25px;
} */

  /* side nav*/
  .side-navbar {
    width: 250px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #100901;
    transition: 0.5s;
  }
  
  
  /* class on side nav*/
  .my-container {
    transition: 0.4s;
  }
  /* in a side nav*/
  #w:hover{
    background-color: orange;
  }
  /* class in side nav*/
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 250px;
  }
  /* menu in side nav*/
  #menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -62px;
  }
  /* class in side nav */
  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }
  /* li side nav*/
  #w{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: x-large;
    
  }
  /* id in a side nav*/
  #linkk{
    text-decoration: none;
    color: white;
  }
  

  @media (min-width: 575.98px) and (max-width: 1199.98px) { 
 
    /**top nav **/
    #mid{
  flex-wrap: nowrap;
  
  }
/* li in top menu*/
  #down{

    left: inherit;
    right: 1px;
  }
  /* hover link in side nav*/
  #w:hover{
    background-color: orange;
  }
 
  }
  @media (max-width:575px) {
 /**top nav **/
    #mid{
      flex-wrap: nowrap;
      
      }
      /* hover link in side nav*/
      #w:hover{
        background-color: orange;
      }
      /* li in top menu*/
      #down{

        left: inherit;
        right: 1px;
      }
  }
  
  @media (max-width:360px) {

    /**top nav **/
    #mid{
      flex-wrap: nowrap;
      }
       /* hover link in side nav*/
      #w:hover{
        background-color: orange;
      }
      /* li in top menu*/
      #down{

        left: inherit;
        right: 1px;
      }
  }